body {font-family: Times New Roman;}
.navigation {margin-bottom: 25px;
             font-size: 150%;}
button { margin-left: 50px; width: 210px;}

.form { margin-bottom: 25px;}
.form {width: 300px;  padding: 20px}

.call_app table {margin-top: 90px;}
